# ngrams source v0.1
100000000      maildir ~/.kde/share/apps/kmail/mail/sent-mail/
1                 text testfile
2                  bla errortest
# Leipzig
100000000 pregenerated 1gramme.txt;2gramme.txt;3gramme.txt
# wikipedia
100000000 pregenerated 1-gramme.15.txt;2-gramme.15.txt;3-gramme.15.txt
# pykeylogger: auf dem eigenen Rechner mitgeloggt
100000000  pykeylogger /home/arne/Dokumente/1-noch-zu-backuppen/Programme/pykeylogger/logs/detailed_log/logfile.txt
# chatlog #neo @ freenode
100000000      chatlog irc-neo-freenode-channel.log
