# ngrams source v0.1
50000000      maildir ~/.kde/share/apps/kmail/mail/sent-mail/
# Leipzig
100000000 pregenerated 1gramme.txt;2gramme.txt;3gramme.txt
# wikipedia
50000000 pregenerated 1-gramme.wiki.txt;2-gramme.wiki.txt;3-gramme.wiki.txt
# pykeylogger: logged on my own computer. Disadvantage: Botches on layer 3 and 4.
#20000000  pykeylogger /home/arne/Dokumente/1-noch-zu-backuppen/Programme/pykeylogger/logs/detailed_log/logfile.txt
20000000 pregenerated 1-gramme.logger.txt;2-gramme.logger.txt;3-gramme.logger.txt
# chatlog #neo @ freenode
10000000       chatlog irc-neo-freenode-channel.log
# bash history - weaker, because there are repeated paths in there
10000000          text /home/arne/.bash_history
# python code
30000000          text Korpora/py-korpus.txt
# C code, a bit cryptic
#10000000          text Korpora/c-korpus.txt
# Java code - seldomly written in full: heavy tool-based code completion → less weight.
#10000000          text Korpora/java-korpus.txt
# AdnW Korpus: Essentially Gutenberg + OReilly. de/en 60/40
20000000          text Korpora/fiction.utf8.txt
20000000          text Korpora/nonfiction.utf8.txt
30000000          text Korpora/Sachtext.utf8.txt
30000000          text Korpora/Literatur.utf8.txt
